# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
df_weather = pd.read_csv('../Resources/weather.csv')
df_weather.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Leh,34.1667,77.5833,58.08,49,0,5.41,IN,1633060241
1,Colón,9.3592,-79.9014,79.45,88,99,5.99,PA,1633060241
2,Punta Arenas,-53.1500,-70.9167,41.11,60,0,14.97,CL,1633060019
3,Castro,-24.7911,-50.0119,56.01,96,20,5.82,BR,1633060035
4,Zhalantun,48.0000,122.7167,51.15,40,5,6.17,CN,1633060242

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = df_weather[["Lat", "Lng"]]

humidity = df_weather["Humidity"]

# Create and Add Heatmap layer to map
fig = gmaps.Map()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heatmap_layer)
fig

Map(configuration={'api_key': 'AIzaSyDm9IUYrhSh3uUaV3sjxGwhTGMYAwonlCQ'}, data_bounds=[(-47.90515505146496, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
# Narrow down the cities to fit weather conditions and Drop any rows will null values.
df_narrow = df_weather.loc[(df_weather['Max Temp'] <= 90) & (df_weather['Max Temp'] >= 60) & 
                           (df_weather['Wind Speed'] < 10) & (df_weather['Cloudiness'] >= 10)].dropna()

df_narrow.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,Colón,9.3592,-79.9014,79.45,88,99,5.99,PA,1633060241
5,Dali,25.7000,100.1833,74.77,61,14,0.72,CN,1633060242
8,Margate,51.3813,1.3862,60.91,88,100,1.99,GB,1633060027
11,Sacalum,20.4833,-89.5833,80.89,80,80,4.16,MX,1633060244
12,Tombouctou,20.0000,-3.0000,81.54,44,13,5.03,ML,1633060126

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# Store into variable named hotel_df.
hotel_df = df_narrow

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

In [ ]:
#Set parameters to search for hotels with 5000 meters.
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

#Hit the Google Places API for each city's coordinates.
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig